{%extends 'base.html'%}
{%block content%}
<!-- <p>
    Your password has been set . you may go ahead and<a href="{%url 'home'%}">Log in</a>

</p> -->
<div class="card text-center justify-content-center ">
    <div class="card-header">
       Password Updated ! 
    </div>
    <div class="card-body">
      <h5 class="card-title">Your password has been set </h5>
      <p class="card-text"> You may go ahead now and Explore "Oasis" and find your solution in a possible way from our users</p>
      <a href="{%url 'login'%}" class="btn btn-primary">Login</a>
    </div>
    <div class="card-footer text-muted">
       *
    </div>
  </div>

{%endblock%}